/*
	
	Use by adding
		@extend .arrow;
		
	to element ie
	
		li {
			
			@extend .arrow;
			
			}	
	
	*/


.arrow a {
		color: $accentColour;
		border-bottom: none;
		position: relative;
		
		&:before {
			content: "";
			display: block;
			border: 5px solid transparent;
			border-left-color: $accentColour;
			width: 1px;
			height: 1px;
			position: absolute;
			top: 3px;
			left: -12px;
			}
			
		&:hover {
			color: $black;
			
			&:before {
				border-left-color: $black;
				}
			
			}	
		}